<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Sets Collection</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header>
        <%- include('partials/navbar', {page: '/lego/sets'}) %>
        <section class="hero">
            <h1>Lego Sets Collection</h1>
            <p>Explore our extensive collection of Lego sets.</p>
        </section>
    </header>
    <section class="collection-intro">
        <h2>Collection</h2>
        <p>Browse the entire collection. Click the theme to filter by themes such as:</p><br>
        <div class="theme-buttons">
            <a href="/lego/sets?theme=Technic" class="btn">TECHNIC</a>
            <a href="/lego/sets?theme=Classic Town" class="btn">CLASSIC TOWN</a>
            <a href="/lego/sets?theme=Supplemental" class="btn">SUPPLEMENTAL</a>
        </div>
    </section>

    <div class="main-content">
        <% sets.forEach(function(set) { %>
            <div class="set-container"><img src="<%= set.img_url %>" alt="<%= 'Image of ' + set.name %>" class="set-image"></div>
            
            <div class="set-info">
                <h2><%= set.name %></h2>
                <p>Year: <%= set.year %></p>
                <p>Theme: <%= set.theme %></p>
                <p>Number of Parts: <%= set.num_parts %></p>
            </div>
        
          <% }); %>
          
        
        
        <blockquote id="quote">Quote will go here...</blockquote>

        <a href="#" onclick="history.back(); return false;">Go Back</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            fetch('https://api.quotable.io/random')
                .then(response => response.json())
                .then(data => {
                    const quoteElement = document.getElementById('quote');
                    quoteElement.textContent = `"${data.content}" — ${data.author}`;
                })
                .catch(error => console.error('Error fetching quote:', error));
        });
    </script>

    <footer>
        <p>&copy; 2023 Lego Collection. All Rights Reserved.</p>
    </footer>

</body>
</html>
